<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
        <div class="row">
          <div class="col-lg-5">
              <div class="navbarImage">
                  <img src="https://images.unsplash.com/photo-1562673005-7693bd6d6e54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1998&q=80" alt="">
              </div>
          </div>
          <div class="col-lg-3 align-self-center">
              <h6>Olá, Daniel</h6>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/notes">Notas</a>
          <a class="nav-item nav-link" routerLink="/books">Livros</a>
          <a class="nav-item nav-link" routerLink="/shows">Séries/Filmes</a>
        </div>
      </div>
  </div>
</nav>