version: '3.4'
services:
  rememberme-postgresql:
    restart: always
    container_name: rememberme-postgresql
    image: postgres:11.2
    #    volumes:
    #      - ~/volumes/stayon/postgresql/:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=rememberme
      - POSTGRES_USER=remember
      - POSTGRES_PASSWORD=remember
    ports:
      - 5433:5433

  # eureka:
  #   hostname: eureka
  #   restart: always
  #   container_name: eureka
  #   image: springio/eureka
  #   ports:
  #     - 8761:8761

  rabbitmq:
    restart: always
    container_name: rabbitmq
    image: rabbitmq:3.7.17-alpine
    ports:
      - 9093:9093

  # nginx:
  #   depends_on:
  #     - stayon-postgresql
  #     - gateway
  #   hostname: nginx
  #   restart: always
  #   container_name: nginx
  #   image: nginx
  #   ports:
  #     - 9000:9000

  # gateway:
  #   depends_on:
  #     - zookeeper
  #     - kafka
  #     - stayon-postgresql
  #   restart: always
  #   container_name: gateway
  #   image: springio/gateway
  #   ports:
  #     - 8080:8080
  #   environment:
  #     - SPRING_DATASOURCE_URL=jdbc:postgresql://stayon-postgresql:5432/stayon
  #     - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka
  #     - SPRING_PROFILES_ACTIVE=prod